<h2>Update Account</h2>
<div class="outer">
  <div class="inner">
  <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
          <% @user.errors.full_messages.each do |message| %>
              <%= message %>
          <% end %>
      <% end %>
      <div>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Name" %>
      </div>
      <div>
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "Email" %>
      </div>
          <%= f.submit class: "btn"%>
  <% end %>
  </div>
</div>