<h2><%= @user.name %>'s Profile Page</h2>

<h3>Current Lists:</h3>
<% @user_lists.each do |list| %>
   <div><%= link_to list.name, relationship_path(list.id) %></div>
<% end %>


<h3>Start new list</h3>
<%=form_for @new_list do |f| %>
 <%= f.text_field :name %>
 <%= f.submit :create %>
<% end %>