<% if @current_user %>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h1><%= @user.name %>'s Yes, No, Maybe Profile Page</h1>
        <div class="new-list">
          Start new list
          <%=form_for @new_list do |f| %>
              <%= f.text_field :name, placeholder: "list name" %>
              <%= f.submit :create, class: "btn" %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 paper table-responsive">
        <table class="table">
          <thead>
              <tr>
                <td><h3>Current Lists:</h3></td>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td>
                    <% @user_lists.each do |list| %>
                     <li>
                       <%= link_to list.name, relationship_path(list.id) %>
                       <!-- Add all the users associated with each list %>-->
                     </li>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td><h3>Account:</h3></td>
              </tr>
              <tr>
                <td>Name: <%= @user.name %></td>
              </tr>
              <tr>
                <td>Email: <%= @user.email %></td>
              </tr>
              <tr>
                <td>
                  <%=link_to "Update Settings", edit_user_path, class:"btn" %>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
<% else %>
    <h2>Sorry! You can only look at lists you are associated with.</h2>
<% end %>