<h2><%= @answer.name %></h2>
<div class="outer">
  <div class="inner">
<%= form_for @answer, url: answer_path(:id => params[:id], :relationship_id => params[:relationship_id]), method: :patch do |f| %>
    <div class="form-group">
      <%= f.radio_button(:status, "yes") %>
      <%= f.label :yes %>
      <%= f.radio_button(:status, "no") %>
      <%= f.label :no %>
      <%= f.radio_button(:status, "maybe") %>
      <%= f.label :maybe %>
    </div>
    <div class="form-group">
      <div><%= f.label :notes_go_here %></div>
      <div><%= f.text_area :notes, class: "notes", placeholder: "Notes go here. This space is for more thoughts on why your answer is yes, no, or maybe. Taking detailed notes will help when you if and when you discuss your list with your partner or partners." %></div>
      <%= f.submit :update, class: "btn" %>
    </div>
<% end %>

<%= link_to "Back to list", relationship_path(params[:relationship_id]), class: "btn" %>
</div>
</div>