<!DOCTYPE html>
<html>
<head>
  <title>The Yes No Maybe List</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet" type="text/css">
</head>
<body class="desk container container-fluid">
  <header>
    <div>
    <nav>
        <% if current_user %>
          <%= link_to "Profile", user_path(current_user.id) %>
          Logged in as <%= current_user.name%>
          <%= link_to "Log Out", logout_path, method: :delete %>
        <% end %>
    </nav>
    </div>
  </header>

<%= yield %>

</body>
</html>
