<!DOCTYPE html>
<html>
<head>
  <title>The Yes No Maybe List</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet" type="text/css">
</head>
<body class="desk">
  <div class=""container-fluid">
  <header>
    <nav>
        <% if current_user %>
          <%= link_to "Profile", user_path(current_user.id) %>
          Logged in as <%= current_user.email%>
          <%= link_to "Log Out", logout_path, method: :delete %>
        <% else %>
          <%= link_to "Sign Up", signup_path %> or
          <%= link_to "Log In", login_path %>
        <% end %>
    </nav>
    </div>
  </header>

<%= yield %>

</body>
</html>
